<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/menu.xsd"
>
    <entries>
        <entry>
            <name>LuigisBoxSearchSuitePlugin</name>
            <label lang="en">Luigi's Box Search Suite</label>
            <label lang="de">Luigi's Box Search Suite</label>
            <controller>SearchSuite</controller>
            <action>index</action>
            <class>sprite-database-export</class>
            <parent identifiedBy="controller">Marketing</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("SearchSuite", { "title": "Luigi's Box Search Suite" })</onclick>
        </entry>
    </entries>
</menu>
